html {
    background-color: blue;
    color: white
}

h1 {
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
}

h2 {
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
}

p {
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
    font-size: 2em;
}

a {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}

ol { 
    color:rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
    font-size: 1em;
}

ul {
    color:rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
    font-size: 1em;
}
