html {
    background-color: blue;
    color: white
}

h1 {
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
}

h2 {
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
}

p {
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5em;
    border: 1px white;
    border-style: dashed;
    padding: 0.5em;

}


a {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
}

ol { 
    color:rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
    font-size: 2em
}

ul > li {
    color:rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
    font-size: 2em;
    text-transform: uppercase;

}

.italics {
    font-style: italic;
}

/* deleted debug border */

main {
    border: 1px solid white;
    width: 90%;
    margin: auto;
    padding: 2em;
}


b {
    border: 1px solid white;
    padding: 0.25em;
    width: 100%;
    box-sizing: border-box;
}

mark {
    background-color: rgb(255, 255, 255);
    color: blue;
    border: 1px solid white;
    padding: 0em;
}

section {
    border: 1px solid white;
    border-style: groove;
    padding: 1.25 em;
}
