html {
    background-color: blue; /* Tested out blue-gray gradient */
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 2em;

}

h2 {
    color: rgb(255, 255, 255);
    font-size: 1.65em;
}

h3{
    color: rgb(255, 255, 255);
    font-size: 1.25em;
}

p {
    color: rgb(255, 255, 255);
    font-family: 'GFS Didot', 'Bodoni MT', serif;
    font-size: 1.5em;
    border: 1px white;
    border-style: dashed;
    padding: 0.5em;
    line-height: 1.4;
    text-indent: 20px; /* This will indent the first line of each paragraph */
}


a {
    color: rgb(255, 255, 255);
    
}

ol { 
    color:rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2;

    /* Had roman numeral experimental code here */
}

ul > li {
    color:rgb(255, 255, 255);
    font-size: 1.5em;
    line-height: 2;
    font-weight: bold;
}

.italics {
    font-style: italic;
}

/* deleted debug border */

main {
    border: 1px solid white;
    width: 90%;
    margin: auto;
    padding: 2em;
}

mark {
    background-color: rgb(255, 255, 255);
    color: blue;
    border: 1px solid blue;
    padding: 0em;
}

section {
    border: 1px solid white;
    border-style: groove;
    padding: 1.25em;
    display: flex;
    gap: 40px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

footer {
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    justify-content: space-between;
}

nav {
    text-transform: uppercase;
}

.large, .small {
    border: 20px solid white;
    font-size: 2em;
}

.large {
    width: 400px
}

.small {
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
}

img {
    border: 1px solid white;
    width: 500px;
    height: 500px;
}